* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  width: 80%;
  margin: 0px auto;
  background-color: #a3a3ff;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0px;
}

.btns {
  padding: 10px;
  border-radius: 7px;
}

.content {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.woman {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.woman__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.expiringcards {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.averege-age-button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.averege {
  padding: 10px;
  margin-bottom: 20px;
  font-size: x-large;
  text-align: center;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.persondata {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.persondata--left {
  width: 300px;
}

.persondata--right {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.person--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match--image {
  width: 90px;
  height: 90px;
}

.matches {
  width: 120px;
  height: 80px;
}

.persontomatchdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.persontomatchdata--right .match--image {
  width: 150px;
  height: 150px;
}
